<a href="https://colab.research.google.com/github/caumannerman/cg_project/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
!pip install -U finance-datareader
!pip install beautifulsoup4
!pip install pykrx
import pandas as pd
import numpy as np
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
from pykrx import stock
import requests
from io import BytesIO

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: finance-datareader in /usr/local/lib/python3.8/dist-packages (0.9.50)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.64.1)
Requirement already satisfied: requests-file in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (1.21.6)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2022.12.7)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from requests-file->finance-datareader) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (4.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pykrx in /usr/local/lib/python3.8/dist-packages (1.0.39)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from pykrx) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from pykrx) (2.25.1)
Requirement already satisfied: xlrd in /usr/local/lib/python3.8/dist-packages (from pykrx) (1.2.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from pykrx) (1.21.6)
Requirement already satisfied: deprecated in /usr/local/lib/python3.8/dist-packages (from pykrx) (1.2.13)
Requirement already satisfied: datetime in /usr/local/lib/python3.8/dist-packages (from pykrx) (4.9)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.8/dist-packages (from datetime->pykrx) (5.5.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.8/dist-packages (from datetime->pykrx) (2022.7)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.8/dist-packages (from deprecated->pykrx) (1.14.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->pykrx) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->pykrx) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->pykrx) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->pykrx) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from zope.interface->datetime->pykrx) (57.4.0)

In [8]:
# 헤더 부분에 리퍼러(Referer)를 추가
# 리퍼러란 링크를 통해서 각각의 웹사이트로 방문할 때 남은 흔적(로봇으로 인식하지 않기 위해)
# generate.cmd에서 Request URL 가져오기
gen_otp_url = 'https://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'

headers = {'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'}
otp = requests.post(gen_otp_url, gen_otp_data, headers=headers).text

# download.cmd에서 General의 Request URL 부분
down_url = 'https://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'

# requests Module의 post함수를 사용 해당 url에 접속하여 otp코드 제출
down_sector_KS = requests.post(down_url, {'code': otp}, headers=headers)

# 다운 받은 csv파일을 pandas의 read_csv 함수로 불러오기
# read_csv 함수의 argment에 적합할 수 있도록 ByteIO 함수를 이용하여 바이너리 스트림 형태로 만든다
sector_KS = pd.read_csv(BytesIO(down_sector_KS.content), encoding='EUC-KR')

In [41]:
# generate.cmd에서 Form Data와 동일
Total_data=pd.DataFrame()

headers = {'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'} 
# service_arr = []
# guitar_arr = []
one_month_data_dict = dict()


for i in range(20221201,20221231):
    gen_otp_data={
        'locale': 'ko_KR',
        'mktId': 'STK',
        'trdDd': str(i),
        'money': '1',
        'csvxls_isNo': 'false',
        'name': 'fileDown',
        'url': 'dbms/MDC/STAT/standard/MDCSTAT03901'
    }
    otp = requests.post(gen_otp_url, gen_otp_data, headers=headers).text
    down_sector_KS = requests.post(down_url, {'code': otp}, headers=headers)
    
    sector_KS = pd.read_csv(BytesIO(down_sector_KS.content), encoding='EUC-KR')
    # 윗줄까지 해서, sector_KS는 하루치/ 당일 상장되어있는 모든 종목의 정보 다 담겨있음
    # 각 업종 별 평균 구해서 / 각 업종 별 일별 등락율 평균 담을 배열에 추가
    a b c d
    for j in (len(업종 다 들어있는 리스트)): 
    one_month_data_dict["서비스업"].append(방금 구한 평균)
    Total_data = pd.concat([Total_data, sector_KS], ignore_index=False)
    
print(Total_data)
print(type(Total_data))

       종목코드      종목명   시장구분    업종명        종가      대비   등락률          시가총액
0    095570   AJ네트웍스  KOSPI   서비스업    6100.0   -10.0 -0.16  2.856160e+11
1    006840    AK홀딩스  KOSPI   기타금융   15600.0   450.0  2.97  2.066620e+11
2    027410      BGF  KOSPI   기타금융    4425.0    60.0  1.37  4.235468e+11
3    282330   BGF리테일  KOSPI    유통업  196500.0 -9000.0 -4.38  3.396288e+12
4    138930  BNK금융지주  KOSPI   기타금융    7440.0    50.0  0.68  2.424958e+12
..      ...      ...    ...    ...       ...     ...   ...           ...
938  005010      휴스틸  KOSPI   철강금속       NaN     NaN   NaN           NaN
939  000540     흥국화재  KOSPI     보험       NaN     NaN   NaN           NaN
940  000547  흥국화재2우B  KOSPI     보험       NaN     NaN   NaN           NaN
941  000545    흥국화재우  KOSPI     보험       NaN     NaN   NaN           NaN
942  003280     흥아해운  KOSPI  운수창고업       NaN     NaN   NaN           NaN

[28269 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>

In [45]:
Total_data=Total_data.dropna()
Total_data

       종목코드      종목명   시장구분    업종명        종가      대비   등락률          시가총액
0    095570   AJ네트웍스  KOSPI   서비스업    6100.0   -10.0 -0.16  2.856160e+11
1    006840    AK홀딩스  KOSPI   기타금융   15600.0   450.0  2.97  2.066620e+11
2    027410      BGF  KOSPI   기타금융    4425.0    60.0  1.37  4.235468e+11
3    282330   BGF리테일  KOSPI    유통업  196500.0 -9000.0 -4.38  3.396288e+12
4    138930  BNK금융지주  KOSPI   기타금융    7440.0    50.0  0.68  2.424958e+12
..      ...      ...    ...    ...       ...     ...   ...           ...
938  005010      휴스틸  KOSPI   철강금속    5070.0   -20.0 -0.39  2.848735e+11
939  000540     흥국화재  KOSPI     보험    3370.0    75.0  2.28  2.164977e+11
940  000547  흥국화재2우B  KOSPI     보험   16200.0  -750.0 -4.42  2.488320e+09
941  000545    흥국화재우  KOSPI     보험    6150.0  -110.0 -1.76  4.723200e+09
942  003280     흥아해운  KOSPI  운수창고업    1355.0   -30.0 -2.17  3.257757e+11

[19788 rows x 8 columns]

In [46]:
sector_data=Total_data[["종목코드", "종목명","업종명","등락률"]]
  
sector_data

       종목코드      종목명    업종명   등락률
0    095570   AJ네트웍스   서비스업 -0.16
1    006840    AK홀딩스   기타금융  2.97
2    027410      BGF   기타금융  1.37
3    282330   BGF리테일    유통업 -4.38
4    138930  BNK금융지주   기타금융  0.68
..      ...      ...    ...   ...
938  005010      휴스틸   철강금속 -0.39
939  000540     흥국화재     보험  2.28
940  000547  흥국화재2우B     보험 -4.42
941  000545    흥국화재우     보험 -1.76
942  003280     흥아해운  운수창고업 -2.17

[19788 rows x 4 columns]

In [77]:
sector_data

       종목코드      종목명    업종명   등락률
0    095570   AJ네트웍스   서비스업 -0.16
1    006840    AK홀딩스   기타금융  2.97
2    027410      BGF   기타금융  1.37
3    282330   BGF리테일    유통업 -4.38
4    138930  BNK금융지주   기타금융  0.68
..      ...      ...    ...   ...
938  005010      휴스틸   철강금속 -0.39
939  000540     흥국화재     보험  2.28
940  000547  흥국화재2우B     보험 -4.42
941  000545    흥국화재우     보험 -1.76
942  003280     흥아해운  운수창고업 -2.17

[19788 rows x 4 columns]

In [71]:
sector_list = set()

In [72]:
for i in range(len(sector_data)):
  sector_list.add(sector_data.iloc[i]['업종명'])
sector_list = list(sector_list)

In [73]:
print(sector_list)

['비금속광물', '서비스업', '화학', '음식료품', '증권', '의료정밀', '유통업', '건설업', '기타금융', '농업, 임업 및 어업', '운수장비', '전기전자', '의약품', '섬유의복', '철강금속', '은행', '보험', '종이목재', '광업', '운수창고업', '기계', '전기가스업', '통신업', '기타제조업']

In [74]:
aaa = {}
print(type(aaa))
for i in range(len(sector_list)):
  aaa[sector_list[i]] = []
print(aaa)

<class 'dict'>
{'비금속광물': [], '서비스업': [], '화학': [], '음식료품': [], '증권': [], '의료정밀': [], '유통업': [], '건설업': [], '기타금융': [], '농업, 임업 및 어업': [], '운수장비': [], '전기전자': [], '의약품': [], '섬유의복': [], '철강금속': [], '은행': [], '보험': [], '종이목재': [], '광업': [], '운수창고업': [], '기계': [], '전기가스업': [], '통신업': [], '기타제조업': []}

In [75]:
dr_ave = dict()
for i in range(len(sector_list)):
  dr_ave[sector_list[i]] = []
  #print("------------- " + sector_list[i] + "------------- ")

for i in range(len(sector_list)):
  
  now_sector = sector_data.loc[sector_data["업종명"] == sector_list[i] , :]
  ave_result = now_sector[["등락률"]].mean()
  # print(type(ave_result))
  # print(ave_result[0])
  
  dr_ave[sector_list[i]].append(ave_result[0])
  # tp_business.append(ave_result)
  # print(type(now_sector))
  # print(now_sector)
print(dr_ave)
unsu = sector_data.loc[sector_data['업종명'] == "운수창고업" , :]

{'비금속광물': [-0.3528937728937729], '서비스업': [-0.16630476190476193], '화학': [-0.3079811097992916], '음식료품': [-0.002981366459627332], '증권': [-0.39689708141321034], '의료정밀': [-0.1338095238095238], '유통업': [-0.3372423596304194], '건설업': [-0.613546365914787], '기타금융': [-0.09909994767137624], '농업, 임업 및 어업': [0.02023809523809525], '운수장비': [-0.5199194139194139], '전기전자': [-0.542468671679198], '의약품': [0.09072386058981242], '섬유의복': [-0.3680190476190477], '철강금속': [-0.5296886446886447], '은행': [-0.04777777777777784], '보험': [-0.03396825396825395], '종이목재': [-0.30776190476190474], '광업': [-0.889047619047619], '운수창고업': [0.04947278911564628], '기계': [-0.39072562358276647], '전기가스업': [-0.16680952380952382], '통신업': [-0.4675238095238095], '기타제조업': [-0.2704126984126985]}

In [67]:
tp = sector_data.loc[sector_data['업종명'] == "운수창고업" , :]
print(type(tp))
# print(tp)
print(len(tp))
print(tp[["등락률"]].mean())
# tp[["등락률"]].iloc[0]

<class 'pandas.core.frame.DataFrame'>
588
등락률    0.049473
dtype: float64

In [23]:
len(tp)

28

In [24]:
elec=sector_data.loc[sector_data['업종명']=="전기전자", :]
elec[["등락률"]].iloc[0]

등락률    3.25
Name: 20, dtype: float64

In [25]:
len(elec)

76

In [26]:
sum = 0
for i in range(len(tp[["등락률"]])):
  sum += tp[["등락률"]].iloc[i]
avg_tp=sum / len(tp[["등락률"]])
avg_tp

등락률    1.177143
Name: 10, dtype: float64

In [27]:
sector_list

['비금속광물',
 '서비스업',
 '화학',
 '음식료품',
 '증권',
 '의료정밀',
 '유통업',
 '건설업',
 '기타금융',
 '농업, 임업 및 어업',
 '운수장비',
 '전기전자',
 '의약품',
 '섬유의복',
 '철강금속',
 '은행',
 '보험',
 '종이목재',
 '광업',
 '운수창고업',
 '기계',
 '전기가스업',
 '통신업',
 '기타제조업']

In [ ]:
sum = 0
for i in range(len(tp[["등락률"]])):
  sum += tp[["등락률"]].iloc[i]
avg_tp=sum / len(tp[["등락률"]])
avg_tp

등락률    1.177143
Name: 10, dtype: float64

In [76]:
tp = sector_data.loc[sector_data['업종명'] == "" , :]
tp[["등락률"]].iloc[0]

IndexError: ignored

In [ ]:
def calc_average(dataFrame):
  return 평균값